<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <p> <h1>Team Name: <%= @team["name"] %> </h1> </p>
  <p> <b> Coach: </b> <%= @team["coach"] %> </p>
  <p> <b> Point Guard: </b> <%= @team["pg"] %> </p>
  <p> <b> Shooting Guard: </b> <%= @team["sg"] %> </p>
  <p> <b> Small Forward: </b> <%= @team["sf"] %> </p>
  <p> <b> Power Forward: </b> <%= @team["pf"] %> </p>
  <p> <b> Center: </b> <%= @team["c"] %> </p>
 </body>
</html>
